registry=https://registry.npmmirror.com
auto-install-peers = true

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=turbo
public-hoist-pattern[]=tsup
